* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}
body {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.greeting {
    line-height: 3.5;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button {
    font-size: 50px;
}